.custom-navbar {
  background-color: #303030 !important; /* Your design's bg color */
  padding: 1rem 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

[class*='col'] {
  min-height: 200px;
}
